name: Docker Image CI

on: push
#
jobs:
  build-ontainer:
    name: Build Docker container image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Publish to Github Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: { { secrets.GITHUB_TOKEN } }
          registry: docker.pkg.github.com
          repository: ${{ github.repository }}/github-actions
          tags: latest, ${{ github.run_number }}
      - name: Publish to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: llafaele/github-actions
          tags: latest, ${{ github.run_number }}

  # test:
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       node-version: [12.x]
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Use Node.js ${{ matrix.node-version }}
  #       uses: actions/setup-node@v1
  #       with:
  #         node-version: ${{ matrix.node-version }}
  #     - run: npm install
  #     - run: npm run build --if-present
  #     - run: npm test
  # build:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1 # may be actions/checkout@v2 now
  #     - name: Login to DockerHub Registry
  #       run: echo ${{ secrets.DOCKERHUB_TOKEN }} |  docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
  #     - name: Get the version
  #       id: vars
  #       run: echo ::set-output name=tag::$(echo ${GITHUB_REF:10})
  #     - name: Build the tagged Docker image
  #       run: docker build -t jrwtango/c2express002 .
  #     - name: Push the tagged Docker image
  #       run: docker push jrwtango/c2express002
